main {
    max-width: 50rem !important;
}

ul, ol {
  margin: 10px 0 10px 30px !important;
}

* {
  letter-spacing: 0 !important;
}


h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}


#page-title {
  text-align: center;
  margin-bottom: 6.25rem;
  font-size: 1.875rem;
  color: var(--color-accent);
  font-weight: 900;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(95deg, #60a5fa 32.27%, #0a79ff 68.51%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ::selection {
    background-color: #000; /* Change the background color of the selected text */
    color: #fff; /* Change the text color of the selected text */
  }
}

aside {
  background-color: transparent;
  padding-bottom: 15px;
  width: 50%;

  img:hover {
    border: 0;
    border-radius: 0;
  }

  figcaption {
    margin-top: -2rem !important;
    margin-bottom: 0;
  }
}

#cards ul {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  li {
    list-style: none;
    text-align: center;
  }

  a {
    display: block;
    padding: 20px;
    text-align: center;
    background-color: var(--color-background-second);
    border-radius: 8px;
    transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;

    &:hover {
      transform: scale(1.05);
      background-color: var(--color-background-mute);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}